* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

html,
body,
header {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.line {
    height: 2px;
    background-color: goldenrod;
    width: 100px;
    margin: 0 auto;
}

.main-image {
    background-image: url(simple-blue.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.intro-box {
    color: #d6c32d;
    left: 0;
    line-height: 50px;
    margin-top: -100px;
    position: relative;
    text-align: center;
    top: 50%;
    width: 100%;

}

.intro-line {
    font-size: 34px;
    font-style: italic;
}

.intro-sub {
    font-size: 18px;
    font-weight: 600;
}

.scroll-down {
    position: relative;
    top: 100%;
    left: 0;
    margin-top: -38px;
    text-align: center;
    width: 100%;
}

.fa-angle-down {
    color: white;
    font-size: 35px;
}

.fa-angle-down:hover {
    color: lightblue;
}

.section-sub-heading {
    font-style: italic;
    color: gray;
}

.section-heading-text {
    font-weight: bold;
}

.about {
    margin-top: 100px;
}

.about-words {
    font-size: 18px;
    color: gray;
    width: 100%;
    letter-spacing: 3px;
    word-spacing: 3px;
}

.about-picture {
    width: 100%;
}
